<div class="row">
	<label> Username:	</label>
	<input class="form-control" />
</div>

<div class="row">
	<label> Password:	</label>
	<input class="form-control" />
</div> 

<div class="col-6"> 

<a class="btn btn-outlineiprimary" asp-controller="Play" asp-action="Index">
	<i class="bi bi-plus-square-fill"></i>
	Play
</a>

</div>
