<h1>
	CasinoGPT
</h1>

<h2>
	Log In
</h2>

<div class="row">
	<label> Username:	</label>
	<input class="form-control" />
</div>

<div class="row">
	<label> Password:	</label>
	<input class="form-control" />
</div>

<div class="col-6">

	<a class="btn btn-primary" asp-controller="StartTracking" asp-action="Index">
		Start Tracking
	</a>


</div>
